    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">

        <div class="container">
            <h2 class="title text-center">WHAT WE DO</h2>
            <p class="intro text-center">
  				Founded in 2017, Chec Consulting is the premiere technical consulting student organisation at UC Berkeley, with experienced consultants of a variety of STEM backgrounds. Our current teams primary expertise is a mix of chemical and bio engineering, however we are constantly evolving to meet our clients needs.
            </p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-info-circle"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Technical Consultation</h3>
                        <p>
                            PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER 
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Process Optimisation</h3>
                        <p>
                            PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER 
                        </p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-smile-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">Prototype Design</h3>
                        <p>
                            PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER PREMIER 
                        </p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>                 
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
